################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.testlog
*.manifest
/.gitignore
/.vs/MVCCourse/DesignTimeBuild/.dtbcache.v2
/.vs/MVCCourse/FileContentIndex/28420943-c5d9-4143-b4c4-66ce8c215c3c.vsidx
/.vs/MVCCourse/FileContentIndex/3297d6db-e39f-4d46-922d-2f1442094e6a.vsidx
/.vs/MVCCourse/FileContentIndex/6946ce64-e8a5-4117-a985-7f2798e9c3fe.vsidx
/.vs/MVCCourse/FileContentIndex/cb386be2-7783-409c-8aad-812e87e8786b.vsidx
/.vs/MVCCourse/FileContentIndex/d363ecde-51e4-4621-b772-46daa2dec750.vsidx
/.vs/MVCCourse/FileContentIndex/da12b512-0997-435c-a63d-cbb5294097a5.vsidx
/.vs/MVCCourse/FileContentIndex/dddb919c-7a14-411d-988b-729236159d80.vsidx
/.vs/MVCCourse/FileContentIndex/ded29f55-50a3-425f-b6dc-2130511158a4.vsidx
/.vs/MVCCourse/FileContentIndex/eacd692a-9bc6-459f-8e46-47778566afe6.vsidx
/.vs/MVCCourse/FileContentIndex/f8733585-1f62-406d-9192-6efc57a8730d.vsidx
/.vs/MVCCourse/v17/.suo
/.vs/MVCCourse/v17/DocumentLayout.json
/.vs/ProjectEvaluation/mvccourse.metadata.v8.bin
/.vs/ProjectEvaluation/mvccourse.projects.v8.bin
/.vs/ProjectEvaluation/mvccourse.strings.v8.bin
/.vs/MVCCourse/FileContentIndex/706e8c5b-cff8-4855-bc91-7c1506d5c4eb.vsidx
/.vs/MVCCourse/FileContentIndex/82d385c7-9d32-4454-8f38-4e2e1fc63839.vsidx
/.vs/MVCCourse/FileContentIndex/83ac880f-0a4f-4f4d-b239-af41a3e07918.vsidx
/.vs/MVCCourse/FileContentIndex/d2043cae-885e-45ce-b6f5-9a32397abbd4.vsidx
/.vs/MVCCourse/v17/.futdcache.v2
